# Change error-bell
set bell-style visible

# Turn on vi for terminal
set editing-mode vi

$if mode=vi
  set keymap vi-command
    # these are for vi-command mode
    "\e[A": history-search-backward
    "\e[B": history-search-forward
    j: history-search-forward
    k: history-search-backward
  set keymap vi-insert
    # these are for vi-insert mode
    "\e[A": history-search-backward
    "\e[B": history-search-forward
$endif

"\e[A": history-search-backward
"\e[B": history-search-forward

# Immediately list all matching files
set show-all-if-ambiguous on

# Show candidate completions with highlighted common prefix
set colored-completion-prefix on

# Distinguish between real directories and symbolic links
set mark-symlinked-directories on

# Possible completions use different colors to indicate file type
set colored-stats on
